{% load staticfiles %}
<!DOCTYPE html>

<html >
<head>
  <meta charset="UTF-8">


  <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900|RobotoDraft:400,100,300,500,700,900'>
  <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>
  <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'css/materialize.css' %}">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
      {% block title %}

    {% endblock %}

      



</head>


<body>

  <nav style="background-color: #0e1a35;" id="custom-nav">
    <div class="nav-wrapper">
      <a class="brand-logo" href="#">Benline Agencies</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li class="nav-btn-form "><a href="/accounts/register/">Register</a></li>
        <li class="nav-btn-form active">
          <a href="/accounts/login/">Login </a>
        </li>
      </ul>
    <!--  <ul class="side-nav" id="mobile-demo">
        <li class="nav-btn-form "><a href="/accounts/login">Login</a></li>
        <li class="nav-btn-form active">
        <a href="{% url 'registration_register' %}">Register </a></li>
      </ul>-->
    </div><!-- /.navbar-collapse -->
  </nav>

  <!-- Form Mixin-->
  <!-- Input Mixin-->
  <!-- Button Mixin-->
  <!-- Pen Title-->
  <div class="pen-title" id="Change">
    <h1 >Welcome</h1>
  </div>
  <!-- Form Module-->

  <div class="module form-module">
{% block content %}
{% endblock %}
  </div>

  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
  <script src="{% static 'js/index.js' %}"></script>
  <script src="{% static 'js/materialize.js' %}"></script>



</body>
</html>
