{% extends 'dashboard.html' %}


                {% block content %}





                <!--END TITLE & BREADCRUMB PAGE-->
                <!--BEGIN CONTENT-->
                <div class="page-content">
                    <div id="tab-general">
                        <div class="row mbl">
                        <div class="col-lg-12">
                                        <div class="panel panel-green">
                                            <div class="panel-heading">
                                                Search Form</div>
                                            <div class="panel-body pan">
                                                <form method="post" enctype="multipart/form-data" > {% csrf_token %}
                                                <div class="form-body pal">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="inputName" class="control-label">
                                                                    Accout</label>
                                                                <div class="input-icon right">
                                                                    
                                                                    <input id="inputName" type="text" placeholder="" class="form-control" name="account" /></div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="inputEmail" class="control-label">
                                                                    Month </label>
                                                                <div class="input-icon right">

                                                                    <input id="inputEmail" type="text" placeholder="" class="form-control" name="month" /></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                  <hr></hr>
                                                    <div class="form-group">
                                                        <label for="inputSubject" class="control-label">
                                                            Specific Container Only</label>
                                                        <div class="input-icon right">

                                                            <input id="inputSubject" type="text" placeholder="" class="form-control" name="CONTAINER_NO" /></div>
                                                    </div>

                                                <div class="form-actions text-right pal">
                                                    <button type="submit" class="btn btn-primary">
                                                        Search</button>
                                                </div>

                                                </form>
                                                <form method="post" enctype="multipart/form-data"> {% csrf_token %}
                                                   <div class="form-body pal">
                                                       <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="inputName" class="control-label">
                                                                    MONTH</label>
                                                                <div>
                                                                    <select id="inputName" type="text" placeholder="" class="form-control" name="monthD" />
                                                                    <option value="01">JAN</option>
                                                                    <option value="02">FEB</option>
                                                                    <option value="03">MAR</option>
                                                                    <option value="04">APR</option>
                                                                    <option value="05">MAY</option>
                                                                    <option value="06">JUN</option>
                                                                    <option value="07">JUL</option>
                                                                    <option value="08">AUG</option>
                                                                    <option value="09">SEP</option>
                                                                    <option value="10">OCT</option>
                                                                    <option value="11">NOV</option>
                                                                    <option value="12">DEC</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="inputEmail" class="control-label">
                                                                    YEAR </label>
                                                                <div class="input-icon right">

                                                                    <input id="inputEmail" type="text" placeholder="eg 2016" class="form-control" name="yearD" /></div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <div class="form-actions text-right pal">
                                                    <button type="submit" class="btn btn-primary">
                                                        <a href="#">Click here to download</a></button>
                                                    </div>

                                                   </div> 
                                                    
                                                </form>
                                            </div>

                                        </div>
                                        </div>

                            <div class="col-lg-12">
                                <div class="col-md-12">
                                    <div id="area-chart-spline" style="width: 100%; height: 300px; display: none;">
                                    </div>
                                </div>
                            </div>
                                       <div class="panel panel-grey">
                            <div class="panel-heading">Container Data</div>
                            <div class="panel-body">
                                <table class="table table-hover table-bordered">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>VSL NAME</th>
                                        <th>CONTAINER NO</th>
                                        <th>VOYAGE</th>
                                        <th>DISCHARGE DATE</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% if containerToGo %}
                                    {% for container in containerToGo %}
                                    <tr>
                                        <td>1</td>
                                        <td class="active">{{ container.VSL_NAME }}</td>
                                        <td class="success">{{ container.CONTAINER_NO }}</td>
                                        <td class="warning">{{ container.VOY_NUMBER }}</td>
                                        <td class="danger">{{ container.DISCHARGE_DATE }}</td>
                                    </tr>
                                    {% endfor %}
                                    {% else %}
                                    <tr>
                                        <td>1</td>
                                        <td class="active">No Data Please Search</td>
                                        <td class="success">N/A</td>
                                        <td class="warning">N/A</td>
                                        <td class="danger">N/A</td>
                                    </tr>
                                    {% endif %}
                                    </tbody>
                                </table>
                            </div>
                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--END CONTENT-->
                <!--BEGIN FOOTER-->
                {% endblock %}
