{% extends 'dashboard.html' %}

        {% block content %}
            <div id="page-wrapper">
                <!--BEGIN TITLE & BREADCRUMB PAGE-->
                <div id="title-breadcrumb-option-demo" class="page-title-breadcrumb">
                    <div class="page-header pull-left">
                        <div class="page-title">
                            Container Logistics</div>
                    </div>
                    <ol class="breadcrumb page-breadcrumb pull-right">
                        <li><i class="fa fa-home"></i>&nbsp;<a href="dashboard.html">Home</a>&nbsp;&nbsp;<i
                            class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
                        <li class="hidden"><a href="#">Forms</a>&nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp;&nbsp;</li>
                        <li class="active">View Data</li>
                    </ol>
                    <div class="clearfix">
                    </div>
                </div>

                                    


                
                <!--END TITLE & BREADCRUMB PAGE-->
                <!--BEGIN CONTENT-->
                <div class="page-content">
                    <div id="tab-general">
                        <div class="row mbl">
                        <div class="col-lg-12">
                                        <div class="panel panel-green">
                                            <div class="panel-heading">
                                                Search Form</div>
                                            <div class="panel-body pan">
                                                <form action="#">
                                                <div class="form-body pal">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="inputName" class="control-label">
                                                                    Container No</label>
                                                                <div class="input-icon right">
                                                                    <i class="fa fa-user"></i>
                                                                    <input id="inputName" type="text" placeholder="" class="form-control" /></div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label for="inputEmail" class="control-label">
                                                                    Select 4 Fields </label>
                                                                <div class="input-icon right">
                                                                    <i class="fa fa-envelope"></i>
                                                                    <input id="inputEmail" type="text" placeholder="" class="form-control" /></div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="inputSubject" class="control-label">
                                                            Subject</label>
                                                        <div class="input-icon right">
                                                            <i class="fa fa-tag"></i>
                                                            <input id="inputSubject" type="text" placeholder="" class="form-control" /></div>
                                                    </div>
                                                    
                                                <div class="form-actions text-right pal">
                                                    <button type="submit" class="btn btn-primary">
                                                        Search</button>
                                                </div>
                                                </form>
                                            </div>
                                        </div>
                                        </div>

                            <div class="col-lg-12">
                                <div class="col-md-12">
                                    <div id="area-chart-spline" style="width: 100%; height: 300px; display: none;">
                                    </div>
                                </div>
                            </div>
                                       <div class="panel panel-grey">
                            <div class="panel-heading">Consized Form</div>
                            <div class="panel-body">
                                <table class="table table-hover table-bordered">
                                    <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Column</th>
                                        <th>Column</th>
                                        <th>Column</th>
                                        <th>Column</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td class="active">active</td>
                                        <td class="success">success</td>
                                        <td class="warning">warning</td>
                                        <td class="danger">danger</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td class="active">active</td>
                                        <td class="success">success</td>
                                        <td class="warning">warning</td>
                                        <td class="danger">danger</td>
                                    </tr>
                                    <tr>
                                        <td>3</td>
                                        <td class="active">active</td>
                                        <td class="success">success</td>
                                        <td class="warning">warning</td>
                                        <td class="danger">danger</td>
                                    </tr>
                                    <tr>
                                        <td>4</td>
                                        <td class="active">active</td>
                                        <td class="success">success</td>
                                        <td class="warning">warning</td>
                                        <td class="danger">danger</td>
                                    </tr>
                                    <tr>
                                        <td>5</td>
                                        <td class="active">active</td>
                                        <td class="success">success</td>
                                        <td class="warning">warning</td>
                                        <td class="danger">danger</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--END CONTENT-->
                <!--BEGIN FOOTER-->
                <div id="footer">
                </div>
                <!--END FOOTER-->
            </div>
            <!--END PAGE WRAPPER-->
        </div>
    </div>

    {% endblock %}
   